html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
 }

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header, footer{
	background: gray;
	height: 100px;
	width:100%;
	text-align: center;
	padding: 15px;
}

aside{
	background: lightblue;
	width: 15%;
	float: left;
	height:600px;
	padding: 15px;
}

.container{
	background: lightgray;
}

main{
	height:600px;
	padding: 15px;
	width: 40%;
	margin: auto;
}

ul {
    list-style-position: inside;
}

.sub-menu-item {
	padding-left: 15px;
	font-size: .75em;
}

.hidden{
	display:none;
}

button{
	padding: 5px;
	margin: 10px;
	width: 100px;
	display: block;
}

h3, h4{
	margin:15px;
}




